.task-text {
    width: 500px;
}

.delete-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #d97742;
    border: 2px solid #d97742;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    margin-left: 20px;
    margin-bottom: 5px;
}

.delete-button:hover {
    background-color: #f7d9b0;
    border-color: #cc6c34;
}
