* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    height: 100vh;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    text-align: center;
}

h1 {
    color: #a54545;
}

li {
    list-style-type: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}


