* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    height: 100vh;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    text-align: center;
}

header {
    padding-top: 30px;
    padding-bottom: 90px;
    font-size: 33px;
}

.form {
    padding-bottom: 30px;
}

.todo-list {
}

.input-field {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #d97742;
    border-radius: 8px;
    background-color: #f9e3cf;
    color: #663a2d;
    outline: none;
    transition: all 0.3s ease;
}

.input-field:hover {
    background-color: #f7d9b0;
    border-color: #cc6c34;
}

.input-field:focus {
    background-color: #fff3e6;
    border-color: #b35924;
    box-shadow: 0 0 8px rgba(204, 108, 52, 0.6);
    transform: scale(1.05);
}

.input-field::placeholder {
    color: #a66747;
    opacity: 0.8;
}

.input-field:focus::placeholder {
    color: #d97742;
    transition: color 0.3s ease;
}

.form-button {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #d97742;
    border: 2px solid #d97742;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.form-button:hover {
    background-color: #cc6c34;
    border-color: #b35924;
}

.form-button:focus {
    background-color: #b35924;
    border-color: #8f4420;
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(179, 89, 36, 0.6);
}

h1 {
    color: #a54545;
}

li {
    list-style-type: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.task-text {
    width: 500px;
}


.delete-button{
    
}